src/main/resources/META-INF/wsdl/payment/WsPayment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.geekbrains.ru/PaymentService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.geekbrains.ru/PaymentService" targetNamespace="http://www.geekbrains.ru/PaymentService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.geekbrains.ru/PaymentService">

            <xs:element name="getPaymentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payments" type="tns:payment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="payment">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="country" type="xs:string" />
                    <xs:element name="fee" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPaymentResponse">
        <wsdl:part element="tns:getPaymentResponse" name="getPaymentResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPaymentRequest">
        <wsdl:part element="tns:getPaymentRequest" name="getPaymentRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PaymentPort">
        <wsdl:operation name="getPayment">
            <wsdl:input message="tns:getPaymentRequest" name="getPaymentRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPaymentResponse" name="getPaymentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentSoap11" type="tns:PaymentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPayment">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPaymentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPaymentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentPortService">
        <wsdl:port binding="tns:PaymentSoap11" name="PaymentPortSoap11">
            <soap:address location="http://localhost:9999/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>